*
{
   margin: 0%;
   padding: 0%;
   font-family: 'Poppins', sans-serif;
 }
 .menu{
  width: 400px;
  float: right;
  height: 200px;
  position: fixed;
  top: 10px;
  right: 100px;
}
ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 25x;
}   
ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover{
  color: rgb(255, 252, 252);
}

body{
    background-color: cornflowerblue;
}